*.iml
.gradle
/.idea
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Release signing
app/key.properties
*.jks
*.keystore

# Build outputs
*.apk
*.aab
/app/release
*.hprof

# Kotlin compiler cache
.kotlin/
